{% extends "base.html" %}

{% block title %} Places {% endblock %}

{% macro print_text(place) %}
  <h2><font color=DarkRed>{{ place.name }}</font></h2>
  {% if place.road_distance is not none %}
  <font color=DarkRed size=4><b>Distance: {{ place.road_distance }} km ({{ place.road_time | int }} min.)</b></font>
  <a href= {{ place.directions_url }} target="blank"><img src="https://webstockreview.net/images/map-clipart-google-map-14.png" width="100"></a>
  {% endif %}
  <font color=DarkRed>
  {% if place.description is not none %}<p>{{ place.description }}</p>{% endif %}
  </font>
{% endmacro %}

{% macro print_image(place) %}
  <font color=DarkRed>
  {% if place.opening_hours %}<p><b>Opening Hours:</b> {{ place.opening_hours }}</p>{% endif %}
  {% if place.price %}<p><b>Entrance fee:</b> {{ place.price }}</p>{% endif %}
  {% if place.address %}<p><b>Address:</b> {{ place.address }}</p>{% endif %}
  {% if place.telephone %}<p><b>Telephone:</b> {{ place.telephone }}</p>{% endif %}
  {% if place.fax %}<p><b>Fax:</b> {{ place.fax }}</p>{% endif %}
  {% if place.website %}<p><b>Website:</b> {{ place.website | safe }}</p>{% endif %}
  {% if place.email %}<p><b>Email:</b> {{ place.email }}</p>{% endif %}
  {% if place.has_photo %}
  </font>
  <img src= {{ place.photo_url }} height={{ place.photo_height }} width={{ place.photo_width }}>
  {% endif %}
{% endmacro %}


{% block body %}
<section id="home" style="height: 100px;">
<div class="overlay"></div>
</section>

<center>
<a href={{ url_for("places") }}><i class="icon-arrow-left2" style="padding-top:100px; font-size:4em; color:DarkRed;"></i></a>
&emsp; &emsp; &emsp;
<a href={{ url_for("main") }}><i class="icon-home" style="padding-top:100px; font-size:4em; color:DarkRed;"></i></a>
</center>

<div class="colorlib-blog">
	<div class="container">
    {% for place in places %}
		<div class="col-lg-12 animate-box">
			<article style="background-color:rgba(0,0,0,0);">
        <font color=DarkRed size=3>
          <table>
            <tr>
            {% if loop.index % 2 == 0 and place.has_photo %}
              <td style="padding: 0px 50px 0 0;">{{ print_image(place)}}</td>
              <td>{{ print_text(place)}}</td>
            {% else %}
              <td style="padding: 0px 50px 0 0;">{{ print_text(place)}}</td>
              <td>{{ print_image(place)}}</td>
            {% endif %}
            </tr>
          </table>
				</font>
      </article>
		</div>
    {% endfor %}
  </div>
</div>
{% endblock %}
